<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Tech Recycle</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/img/1109.png" type="image/png" />
  </head>
  <div class="iphone-frame">
    <div class="app-content">
      {{{body}}}
    </div>
  </div>
</html>